<div class="container">
    <form action="/theme/add" method="post" class="card p-3 mt-2 bg-light">
        {{!-- name --}}
        <div class="form-floating m-2">
            <input type="text" name="name" class="form-control" id="floatingName" placeholder="Name">
            <label for="floatingName">Name</label>
        </div>
        {{!-- image --}}
        <div class="form-floating m-2">
            <input type="text" name="image" class="form-control" id="floatingImage1" placeholder="Image1">
            <label for="floatingImage1">Image</label>
        </div>
        <div class="form-group m-2">
            <input class="btn btn-primary mt-3" name="" type="submit" value="Add">
        </div>
    </form>
</div>